nav ul {
  list-style-type: none;
  display: block;
  align-items: flex-end;
  position: relative;
  top: 20px;
  right: 20px;
}
nav ul li {
  align-items: center;
  padding: 15px;
  flex-grow: 100%;
  float: left;
}
nav ul li:hover {
  text-decoration: underline;
}
#logo {
  padding-left: 30px;
}